flask
pyngrok
pynvml
werkzeug
datasets
anthropic
scikit-learn
rouge-score
nltk
duckduckgo-search
numpy
sentence-transformers
transformers
torch
torchvision
torchaudio
huggingface_hub
pandas
tqdm
psutil
